@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@300;400;500&family=Permanent+Marker&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Montserrat Alternates', sans-serif;
  /* font-family: 'Permanent Marker', cursive; */
  background-color: black;
}

